body {
  font-family: Arial;
  background: #0f172a;
  color: #fff;
  text-align: center;
}

#tv-chart {
  height: 420px;
  margin: 10px;
}

select {
  padding: 6px;
  margin-bottom: 10px;
}

.card {
  background: #1e293b;
  margin: 10px;
  padding: 15px;
  border-radius: 12px;
}
